$color-primary: #6AC85A;
$color-secondary: #793BFF;

$color-accent-one: #FF6D43;
$color-accent-two: #465EFF;
$color-accent-theree: #F9C45C;
$color-accent-four: #FF6E42;
$color-accent-five: #A9ABBD;

$color-neutral-one: #FFFFFF;
$color-neutral-two: #F8F8F8;
$color-neutral-three: #A0A0A0;
$color-neutral-four: #111111;

$color-button-primary-hover: #87D37A;
$color-button-primary-active: #54A048;
$color-button-primary-disabled: #D2EECD;

$color-button-secondary-hover: #9362FF;
$color-button-secondary-active: #602FCC;
$color-button-secondary-disabled: #D6C4FF;