@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size-heading-desktop: 72px;
$font-size-heading-tablet: 68px;
$font-size-heading-mobile: 40px;
$font-size-subheading-desktop: 64px;
$font-size-subheading-tablet: 40px;
$font-size-subheading-mobile: 40px;
$font-size-title-desktop: 32px;
$font-size-title-tablet: 30px;
$font-size-title-mobile: 18px;
$font-size-body-desktop: 18px;
$font-size-body-tablet: 16px;
$font-size-body-mobile: 14px;
$font-size-caption: 16px;

$line-height-heading-desktop: 78px;
$line-height-heading-tablet: 72px;
$line-height-heading-mobile: 48px;
$line-height-subheading-desktop: 72px;
$line-height-subheading-tablet: 48px;
$line-height-subheading-mobile: 48px;
$line-height-title-desktop: 40px;
$line-height-title-tablet: 36px;
$line-height-title-mobile: 30px;
$line-height-body-desktop: 28px;
$line-height-body-tablet: 24px;
$line-height-body-mobile: 20px;
$line-height-caption: 24px;



@mixin heading-desktop {
  font-weight: $font-weight-medium;
  font-size: $font-size-heading-desktop;
  line-height: $line-height-heading-desktop;
}

@mixin heading-tablet {
  font-weight: $font-weight-semibold;
  font-size: $font-size-heading-tablet;
  line-height: $line-height-heading-tablet;
}

@mixin heading-mobile {
  font-weight: $font-weight-semibold;
  font-size: $font-size-heading-mobile;
  line-height: $line-height-heading-mobile;
}

@mixin subheading-desktop {
  font-weight: $font-weight-regular;
  font-size: $font-size-subheading-desktop;
  line-height: $line-height-subheading-desktop;
}

@mixin subheading-tablet {
  font-weight: $font-weight-medium;
  font-size: $font-size-subheading-tablet;
  line-height: $line-height-subheading-tablet;
}

@mixin subheading-mobile {
  font-weight: $font-weight-medium;
  font-size: $font-size-subheading-mobile;
  line-height: $line-height-subheading-mobile;
}

@mixin title-desktop {
  font-weight: $font-weight-regular;
  font-size: $font-size-title-desktop;
  line-height: $line-height-title-desktop;
}

@mixin title-tablet {
  font-weight: $font-weight-medium;
  font-size: $font-size-title-tablet;
  line-height: $line-height-title-tablet;
}

@mixin title-mobile {
  font-weight: $font-weight-medium;
  font-size: $font-size-title-mobile;
  line-height: $line-height-title-mobile;
}

@mixin body-desktop {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-desktop;
  line-height: $line-height-body-desktop;
}

@mixin body-tablet {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-tablet;
  line-height: $line-height-body-tablet;
}

@mixin body-mobile {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-mobile;
  line-height: $line-height-body-mobile;
}

@mixin caption {
  font-weight: $font-weight-regular;
  font-size: $font-size-caption;
  line-height: $line-height-caption;
}