@import "../../styles/colors.scss";

.navbar__container {
  display: flex;
  padding: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  color: $color-neutral-two;
}
.navbar__logo {
  padding: 0 64px;
}
.navbar__list {
  display: flex;
  & div {
    padding: 0 20px;
  }
}